.DS_Store
node_modules/

# Frontend

frontend/.idea/
frontend/.vscode/
frontend/node_modules/
frontend/build
frontend/my-app*
frontend/template/src/__tests__/__snapshots__/
frontend/lerna-debug.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.changelog
frontend/.npm/
frontend/yarn.lock

# Backend
backend/node_modules/
