.wrapperDark {
  display: flex;
  justify-content: center;
  background-color: #121212;
  transition: 0.3s;
}
.wrapperLight {
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
.inner {
  width: 50rem;
}
