.wrapperDark {
  background-color: #121212;
  display: flex;
  transition: 0.3s;
}
.wrapperLight {
  display: flex;
  justify-content: center;
  transition: 0.3s;
  position: relative;
}

.inner {
  width: 50rem;
  justify-content: center;
}

.stackTop {
  width: 30rem;
  justify-content: center;
}

.container {
  position: relative;
}
