.wrapper {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    width: 50rem;
}

.bar {
    width: 30rem;
    padding-right: 1rem;
    border-color: white;
    padding-left: 1rem;
}

.searchButton {
    width: 9rem;
    background-color: #34c759;
}

.searchButton:hover {
    opacity: 100%;
    background-color: #34c7599f;
    border: none;
}

.toggle {
    width: 9rem;
}

.toggleButton {
    background-color: #34c759;
    border: none;
}

.toggleButton:hover {
    background-color: #34c7599f;
    opacity: 100%;
    border: none;
}