# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches:
      - development
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test_frontend_compiles:
    runs-on: ubuntu-latest
    env:
      frontend: ./frontend
      backend: ./backend
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm i
        working-directory: ${{env.backend}}
      - run: npm ci
        working-directory: ${{env.frontend}}
      #- run: npm test
      # working-directory: ${{env.frontend}}
      - run: npm run build
        working-directory: ${{env.frontend}}
  test_backend_syntax:
    runs-on: ubuntu-latest
    env:
      frontend: ./frontend
      backend: ./backend
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: node -c *.js
        working-directory: ./backend
      - run: node -c *.js
        working-directory: ./backend/Controllers
      - run: node -c *.js
        working-directory: ./backend/database
      - run: node -c *.js
        working-directory: ./backend/database/models
      - run: node -c *.js
        working-directory: ./backend/DatabaseAccess
      - run: node -c *.js
        working-directory: ./backend/passport
      - run: node -c *.js
        working-directory: ./backend/Routers
      - run: node -c *.js
        working-directory: ./backend/Services
